body {
    font-family: $tipografia;
    @extend %estilosFondo;

    .estudio {
        img {
            padding: 10px;
            margin: 10px;
        }

        p {
            @extend %estilosParrafo;
        }

    }

    .boton {
        background-color: $colorBoton;
        color: #fff;
        border: solid 1px black;

        &:hover {
            background-color: $colorHover;
            border: solid 2px black;
        }

    }
}