body {

    font-family: $tipografia;
    @extend %estilosFondo;

    .carrusel {

        .car__text {
            text-shadow: 1px 1px rgb(63, 62, 62);
            font-weight: bold;
        }

        .car__caption {
            top: 5%;
        }

        .car__img {
            border: 5px solid #fff;
            width: 100%;
            
        }
        .car__boton{
            width: 30%
        }

    }

    .presentacion {

        .presentacion__tit {
            @include titulosImp (22px);
        
        }

        .presentacion__p {
            @extend %estilosParrafo;


        }


    }

    .productos {
        .prod__tit {
            @extend %estilosTitulo;
        }

        .prod__cont {
            padding: 5px;
        }

        a {
            text-decoration: none;
            color: $colorTexto;
            font-style: italic;
            font-weight: bold;
            font-size: 20px;
            padding: 10px;

            &:hover {
                background-color: $colorHover;
                color: #fff;
                border-radius: 15%;
            }
        }

        img {
            width: 45%;
            border: solid 5px #fff;

        }

    }
}

@media (min-width: 567px) {
    body {
        .productos {
            img {
                width: 100vw;
            }
        }

        .carrusel {
            .car__text {
                font-size: 25px;
                font-weight: 500;
            }

            .car__img{
                width: 60%;
                margin: 0 auto;
            }
            .car__boton{
                width: 50%;
            }

        }
    }
}