body {
    font-family: $tipografia;
    background-image: url(../../Multimedia/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .articulos__tit {
        @include titulosImp (20px)
    }
    .card__estilo{
        @include cards
    }
    img{
        padding: 0;
        margin: 0;
    }

    p{
        font-size: 18px;
    }
}