%estilosParrafo{
    font-size: 15px;
    line-height: 1.5;
    

}

%estilosTitulo{
    margin: 10px;
    font-size: 20px;
    border-bottom: solid 1px #000;
    
    
}

%estilosFondo{
    background-image: url(../Multimedia/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}